<style>
	html { 
  background: url(https://images.unsplash.com/photo-1513309914637-65c20a5962e1?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=228f272007b6369007faeba1901c3274&auto=format&fit=crop&w=1500&q=80) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body {background-color: rgba(0,0,0,0)}
.jumbotron {background-color: rgba(255,255,255,.5)}
</style>


<div class="center jumbotron">
  <h1>Bienvenue sur EventBriTHP</h1>

  <%= link_to "Voir les évènements stylés", event_path, class: "btn btn-lg btn-primary" %>
  <% unless logged_in? %>
   <%= link_to "Créer un évènement", login_path, class: "btn btn-lg btn-primary" %>
   <% else %>
   <%= link_to "Créer un évènement", new_event_path, class: "btn btn-lg btn-success" %>
   <% end %>
</div>



